/*
Theme Name: LOB Theme
Author: Jakub
Author URI: http://laboratorium.ee
*/

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.eot');
    src: local('☺'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;//medium
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Ultra.eot');
    src: local('☺'), url('fonts/Gotham-Ultra.woff') format('woff'), url('fonts/Gotham-Ultra.ttf') format('truetype'), url('fonts/Gotham-Ultra.svg') format('svg');
    font-weight: bold;
    font-style: normal;//black
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot');
    src: local('☺'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype'), url('fonts/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

a {
    color: #C5DC4A;
}

.logo img {
    width: 280px;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.page-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
}

.page-popup-container .popup-mask {
    background-color: black;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.page-popup-container .popup-content .cell form p {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
}

.page-popup-container .popup-content .cell form .cookie-accept-redirect {
    float: right;
}

.page-popup-container .popup-content .cell form input {
    float: right;
    width: 100%;
    padding: 0px 10px;
    border: 0px none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 1.7rem;
}

.page-popup-container .popup-content .cell form button {
    height: 1.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 7rem;
    margin-top: 20px;
    border: 0px none;
}

.page-popup-container .popup-content .cell form input[type="submit"] {
    height: 1.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 7rem;
    margin-top: 20px;
}

.page-popup-container .popup-content .cell form {
    text-align: left;
    display: inline-block;
    width: 431px;
    padding: 30px 50px;
    overflow: hidden;
    background-color: #E8338C;
}

.style-lob-for-students .page-popup-container .popup-content .cell form {
    background-color: #6ED0C3;
}

.page-popup-container .popup-content .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.page-popup-container .popup-content {
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    border: 0px none;
}

.cookie-info-container {
    position: relative;
}

.header .page-title {
    font-size: 51px;
    width: 570px;
    padding: 0px 2px;
}

.header .title-container {
    margin-left: 20px;
    float: left;
    width: 570px;
}

.page-container {
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
}

.sticky-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    background-color: #666;
}

.page-container-transition {
    -webkit-transition: margin-bottom 0.3s;
    -moz-transition: margin-bottom 0.3s;
    transition: margin-bottom 0.3s;
}

.page-container {
    overflow: hidden;
}

.sticky-footer-content .headers a {
    text-transform: uppercase;
    line-height: 1.0rem;
    color: #fff;
}

.sticky-footer-content .roll-button span {
    padding-left: 15px;
    background: transparent url('./images/footer-arrow-rollup.png') no-repeat left center;

}

.sticky-footer-content .roll-up span {
    background: transparent url('./images/footer-arrow-rolldown.png') no-repeat left center;
}

.sticky-footer-content .roll-button {
    background-color: #666666;
    cursor: pointer;
    line-height: 1.5rem;
    margin: -10px auto 10px;
    text-align: center;
    text-transform: uppercase;
    width: 10rem;
}

.roll-button-up {
    background-image: url('./images/arrow-up.png');
}

.roll-button-down {
    background-image: url('./images/arrow-down.png');
}

.sticky-footer-content {
    color: #fff;
    position: relative;
    font-size: 0.8rem;
}

.submenus-hide-content ul li {
    background: transparent url("./images/list-style-footer.png") no-repeat scroll 0px 0.4rem;
    padding-left: 24px;
}

.submenus-hide-content ul li a, .submenus-hide-content p, .submenus-hide-content p a {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3rem;
    font-size: 0.75rem;
    color: white;
}

.submenus-hide-content ul li:last-child {
    margin-bottom: 30px;
}

.submenus-hide-content > div {
    padding: 0px 5px;
}

.submenus-hide-content {
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.web-kit .page-container .main-container h1 {
    padding-top: 8px;
}

.page-container .main-container h1 {
    font-size: 35px;
    line-height: 35px;
    padding: 0px 3px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: inline;
    text-transform: uppercase;
}

.blackwhite .style-news h1 {
    background-color: #000;
    color: #fff;
}

.style-lob-for-students h1 {
    background-color: #6ED0C3;
    color: #fff;
}

.style-news h1 {
    background-color: #c5dc4a;
    color: #fff;
}

.style-about-lob h1 {
    background-color: #5ea2f2;
    color: #fff;
}

.style-ambassadors-csr h1 {
    background-color: #E8338C;
    color: #fff;
}

.page-container .main-container .alignleft {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.page-container .main-container .alignright {
    float: right;
    margin-left: 15px;
    margin-top: 5px;
}

.page-container .main-container h1 a {
    color: #fff;
}

.page-container .main-container {
    width: 700px;
    font-size: 25px;
    float: left;
    margin: 15px 0px 0px 0px;
}

.page-container .main-container p, .main-container ul li {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.3rem;
    margin: 1rem 0px;
}

.main-container ul li {
    margin-left: 1.2rem;
}

.page-container .left-sidebar {
    width: 220px;
    margin-right: 20px;
    float: left;
}

.footer-menu {
    display: table;
    width: 940px;
    margin: 0px auto;
}

.footer-menu .submenus-container {
    overflow: hidden;
}

.footer-menu .headers, .footer-menu .submenus-container {
    display: table-row;
}

.footer-menu .headers .col:last-child {
    padding-bottom: 0px;
}

.footer-menu .headers .col {
    padding: 0px 5px 20px;
}

.footer-menu .col:last-child a img {
    margin: 0px 0px 4px 4px;
}

.footer-menu .col:last-child a {
    float: left;
}

.footer-menu .col:last-child {
    min-width: 128px;
}

.footer-menu .col a {
    display: block;
    overflow: hidden;
}

.footer-menu .col a img {
    margin-right: 5px;
    float: left;
}

.footer-menu .col {
    border-left: 1px solid #b2b2b2;
    overflow: hidden;
    display: table-cell;
    vertical-align: top;
}

.blackwhite {
    color: #fff !important;
    background-color: #000 !important;
}

.sidebar-menu li ul.blackwhite > a.current-site {
    color: #000 !important;
    background-color: #fff !important;
}

.root-font, .bw-box {
    cursor: pointer;
}

.search-container .lang a {
    color: inherit;
}

.search-container .lang {
    border-left: 1px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 34px;
    padding: 0 7px;
}

.search-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: -34px;
    background-color: #e9338d;
}

.search-container .search-field-active {
    width: 200px;
}

.search-container .search-field {
    border: 0 none;
    height: 20px;
    margin-top: 6px;
    vertical-align: top;
    width: 100px;
    padding: 0px 5px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.search-container .search-button {
    background-color: #e9338d;
    background-image: url("./images/icon-search.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0px 5px;
    height: 34px;
    width: 30px;
    display: block;
    float: left;
    border: 0px none;
}

.search-container .bw-box {
    background-image: url("./images/icon-contrast.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    float: left;
    height: 34px;
    margin: 0px 7px;
    width: 35px;
}

.search-container .blackwhite {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background-image: url("./images/icon-contrast-2.png");
}

.search-container .font-size-toggler span {
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 34px;
    padding: 0px 7px;
}

.search-container .font-size-toggler {
    float: left;
    height: 34px;
    margin-right: 10px;
}

.search-container .searchform {
    display: block;
    float: left;
}

.search-container .searchform p {
    display: block;
    height: 34px;
}

.header {
    height: 260px;
    padding: 20px 0px;
    border-bottom: 4px solid #000;
}

.blackwhite .header {
    border-bottom: 3px solid #fff;
}

.header .page-title {
    display: inline;
    text-transform: uppercase;
    font-weight: 800;
}

.content .full-width-container {
    width: 940px;
    float: none;
}

.blackwhite .page-container .style-full-width-page h1 {
    background-color: #000;
    color: #fff;
}

.page-container .style-full-width-page h1 {
    background-color: #C5DC4A;
    color: #fff;
}

.page-container .style-full-width-page h2 {
    font-size: 25px;
    margin-left: 240px;
    margin-bottom: -1rem;
    position: relative;
}

.page-container .style-full-width-page h2:before {
    content: '';
    background-color: #c5dc4a;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -25px;
    top: 0.7rem;
    border-radius: 50% 50% 50% 50%;
}

.blackwhite .page-container .style-full-width-page ul li, .blackwhite .page-container .style-full-width-page p {
    border-top: 4px solid #fff;
}

.page-container .style-full-width-page ul li, .page-container .content .style-full-width-page p {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border-top: 4px solid #000;
    margin: 1rem 0px 1rem 240px;
}

.page-container .style-full-width-page ul li:before {
    content: '';
    background-color: #c5dc4a;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -25px;
    top: 7px;
    border-radius: 50% 50% 50% 50%;
}

.style-news .page-title {
    background-color: #C5DC4A;
    color: #fff;
    text-transform: uppercase;
}

.header .page-photo {
    width: 220px;
    float: left;
    margin-left: 20px;
}

.title-bottom .title-container {
    margin-top: 110px;
}

.style-full-width-page .page-icon span {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    background-color: #c5dc4a;
    width: 110px;
    padding: 0px 8px 0px 0px;
    color: #fff;
    font-size: 55px;
    line-height: 55px;
    height: 110px;
}

.header .page-icon {
    float: left;
    width: 110px;
    height: 110px;
}

.title-top .page-icon {
    margin-top: 110px;
}

.style-full-width-page .page-icon {
    display: table;
    height: 110px;
}

.left-sidebar ul {
    list-style-type: none;
}

.main-container ul {
    list-style-type: disc;
}

.left-sidebar ul li ul li {
    overflow: hidden;
}

.left-sidebar .sidebar-menu ul li ul li ul li a {
    background-color: #c7ece5;
}

.left-sidebar .sidebar-menu ul li ul li a {
    background-color: #abe2d9;
}

.sidebar-menu li ul.blackwhite a.current-site {
    color: #000 !important;
    background-color: #fff !important;
}

.style-about-lob .sidebar-menu ul li ul li a {
    background-color: #9ec7f7;
}

.style-about-lob .sidebar-menu ul li ul li a.parent-site {
    font-weight: bold;
}

.left-sidebar .sidebar-menu li ul li a.current-site {
    color: #fff;
    background-color: #000;
}

.sidebar-menu ul a {
    margin-bottom: 5px;
    padding: 0px 5px;
}

.web-kit .sidebar-menu ul li a {
    padding-top: 0.9rem;

}

.sidebar-menu {
    /*always transition*/
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.sidebar-menu-transition-on li ul {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.sidebar-menu li ul li ul {
    height: 0px;
    overflow: hidden;
}

.left-sidebar .sidebar-menu li ul li ul.rollup {
    height: 0px;
}

.style-news .sidebar-menu li ul li ul li a {
    background-color: #e5efa3;
}

.sidebar-menu li ul li ul.current-site-container,
.sidebar-menu li ul li ul.parent-site-container,
.sidebar-menu li ul li ul.rollup {
    height: auto;
}

.blackwhite .sidebar-menu li ul li a.current-site[data-container-id] {
    background-image: url('./images/icon-arrow-menu-rollup.png');
}

.sidebar-menu li ul li a.current-site[data-container-id] {
    background-image: url('./images/icon-arrow-menu-rollup-white.png');
}

.blackwhite .sidebar-menu li ul li a[data-container-id] {
    background-image: url('./images/icon-arrow-menu-rollup-white.png');
}

.sidebar-menu li ul li a[data-container-id] {
    background-repeat: no-repeat;
    background-position: 7px center;
    padding-left: 22px;
    background-image: url('./images/icon-arrow-menu-rollup.png');
}

.sidebar-menu li ul li a.rolldown {
    background-image: url('./images/icon-arrow-menu-rolldown.png');
}

.blackwhite .sidebar-menu li ul li a.rolldown {
    background-image: url('./images/icon-arrow-menu-rolldown-white.png');
}

.sidebar-menu > li > a {
    color: #000;
    font-size: 1rem;
    padding-left: 20px;
    font-weight: bold;
    margin: 15px 0px;
    display: block;
}

.sidebar-menu > li > a {
    text-transform: uppercase;
}

.sidebar-menu > li > span {
    color: #000000;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 0;
    padding-left: 20px;
}

.style-news .sidebar-menu > li > span {
    background: transparent url('./images/icon-triangle-bright-green.png') no-repeat 0px center;
}

.style-lob-for-students .sidebar-menu > li > span {
    background: transparent url('./images/icon-triangle-green.png') no-repeat 0px center;
}

.style-about-lob .sidebar-menu > li > span {
    background: transparent url('./images/icon-triangle-blue.png') no-repeat 0px center;
}

.style-ambassadors-csr .sidebar-menu > li > span {
    background: transparent url('./images/icon-triangle-pink.png') no-repeat 0px center;
}

.sidebar-menu li li li {
    display: block;
    margin-left: 10px;
    overflow: hidden;
}

.style-about-lob .sidebar-menu ul li ul li ul li a {
    font-weight: normal;
    background-color: #bedafa;
    font-size: 0.8rem;
}

.style-about-lob .sidebar-menu ul a {
    background-color: #5ea2f2;
    display: block;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: #000;
}

.style-ambassadors-csr .sidebar-menu ul a {
    background-color: #e8338c;
    display: block;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: #000;
}

.search-result-page-title .page-title {
    background-color: #C5DC4A;
    color: #fff;
}

body .page-container .style-full-width-page p.page-title {
    border-top: 0px none;
}

.style-full-width-page .page-title {
    background-color: #C5DC4A;
    color: #fff;
}

.style-ambassadors-csr .sidebar-menu .alumni-lob-container li a {
    background-color: #abe2d9;
}

.sidebar-menu li ul li a[data-slug="alumni-lob"] {
    background-color: #73cfbf;
}

.style-news .sidebar-menu ul li ul li ul li a {
    font-weight: normal;
    background-color: #e5efa3;
    font-size: 0.8rem;
}

.style-news .sidebar-menu ul a {
    background-color: #c5dc4a;
    display: block;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: #000;
}

.style-lob-for-students .sidebar-menu ul a {
    background-color: #6ED0C3;
    display: block;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    color: #000;
}

.main-container h3 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3rem;
}

.main-container h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0px;
}

.style-about-lob h2 {
    color: #5ea2f2;
}

.style-lob-for-students h2 {
    color: #c5dc4a;
}

/*home tiles*/
.home-tiles {
    margin-left: -20px;
}

.syllable {
    display: inline-block;
}

.home-tiles .right-container .csr-tile {
    position: relative;
    background: transparent url("./images/home-icons/btn-csr.png") no-repeat scroll left top;
}

.home-tiles .right-container .csr-tile .container {
    margin-top: 130px;
}

.blackwhite .home-tiles .right-container .csr-tile .container .more {
    color: #fff !important;
}

.home-tiles .right-container .csr-tile .container .more {
    font-size: 17px;
    line-height: 21px;
    display: block;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}

.home-tiles .right-container .turn-to-league-tile div {
    padding: 10px;
}

.blackwhite .right-container .turn-to-league-tile .container a {
    color: #000 !important;
}

.home-tiles .right-container .turn-to-league-tile .container a {
    color: #fff;
}

.blackwhite .right-container .turn-to-league-tile .container {
    background-color: #fff !important;
}

.home-tiles .right-container .turn-to-league-tile .container {
    position: absolute;
    bottom: 0px;
    width: 220px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    background-color: #73CEBF;
}

.home-tiles .right-container .turn-to-league-tile li span {
    font-weight: 500;
}

.home-tiles .right-container .turn-to-league-tile li {
    font-size: 0.87rem;
    font-weight: bold;
    margin: 40px 0px 40px 2px;
}

.blackwhite .home-tiles .right-container .turn-to-league-tile h2 {
    color: #fff !important;
}

.home-tiles .right-container .turn-to-league-tile h2 {
    font-size: 16px;
    line-height: 29px;
    color: #000;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.blackwhite .home-tiles .right-container .turn-to-league-tile {
    background-color: #000 !important;
}

.home-tiles .right-container .turn-to-league-tile {
    margin-top: 260px;
    position: relative;
    background-color: #d9d9d9;
}

body[data-level="2"] .home-tiles .right-container .turn-to-league-tile li {
    margin-bottom: 0px;
    margin-top: 16px;
}

body[data-level="1"] .home-tiles .right-container .turn-to-league-tile li {
    margin-bottom: 20px;
    margin-top: 20px;
}

.attachments {
    margin-top: 40px;
}

.blackwhite .attachments > p > strong {
    border-bottom: 2px solid #fff;
}

.attachments > p > strong {
    border-bottom: 2px solid #000;
}

.home-tiles .right-container .title-box {
    position: absolute;
    right: -20px;
    top: 20px;
    width: 460px;
}

.home-tiles .right-container .title-box p {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.home-tiles .right-container .title-box h1 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 43px;
    line-height: 50px;
    text-transform: uppercase;
}

.home-tiles .right-container {
    width: 220px;
    float: left;
    position: relative;
}

.home-tiles {
    overflow: hidden;
}

.blackwhite .registry a {
    color: #000 !important;
}

.blackwhite  .academy-tile .container, .blackwhite  .news-tile .container {
    background-color: #000 !important;
    opacity: 1 !important;
}

.blackwhite  .academy-tile .container .more, .blackwhite  .news-tile .container .more {
    color: #fff !important;
}

.home-tiles .academy-tile .roller {
    position: absolute;
    bottom: 0px;
    width: 220px;
    background-color: #73CEBF;
    opacity: 0.9;
    padding: 10px 0px;
}

.home-tiles .news-tile .roller {
    position: absolute;
    bottom: 0px;
    width: 220px;
    background-color: #000;
    opacity: 0.9;
    padding: 10px 0px;
}

.home-tiles .academy-tile .container, .home-tiles .news-tile .container {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #fff;
    background-color: #73cebf;
    padding: 0px 10px;
    opacity: 0.9;
}

.home-tiles .news-tile {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.home-tiles .academy-tile {
    position: relative;
    height: 220px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
    background: #73CEBF url("./images/home-icons/btn-academy.png") no-repeat scroll center bottom;
    background-size: auto 100%;
}

.home-tiles .news-tile h2 {
    padding: 0px 10px;
    line-height: 31px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    display: block;
}

.home-tiles .academy-tile h2 {
    padding: 0px 10px;
    line-height: 21px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    display: block;
}

.home-tiles .news-tile {
    height: 220px;
    position: relative;
    background: #73CEBF url("./images/home-icons/btn-news.png") no-repeat scroll center bottom;
    background-size: auto 100%;
}

.home-tiles .news-tile span {
    color: #FFFFFF;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
}

.home-tiles .news-tile .container {
    background-color: #000;
    width: 220px;
    padding: 0px 10px;
    opacity: 0.9;
}

.home-tiles .registry a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 17px;
    line-height: 35px;
}

.blackwhite .registry {
    background-color: #fff !important;
    color: #000 !important;
}

.home-tiles .registry {
    text-transform: uppercase;
    background-color: #e9338d;
    text-align: center;
}

.home-tiles .left-container {
    width: 720px;
    overflow: hidden;
    float: left;
}

.home-tiles .tile {
    margin: 20px 0px 0px 20px;
    width: 220px;
    float: left;
}

.home-tiles .width2 {
    width: 460px;
}

.home-tiles .width1 {
    width: 220px;
}

.home-tiles .height1 {
    min-height: 220px;
}

.home-tiles .height2 {
    height: 460px;
}

.home-tiles .table {
    display: table;
}

.home-tiles .ambassadors-tile .container .more {
    color: #e9338d;
}

.home-tiles .ambassadors-tile > div .roller {
    position: absolute;
    bottom: 0px;
}

.home-tiles .ambassadors-tile {
    color: #fff;
    position: relative;
    height: 220px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.home-tiles .ambassadors-tile .container {
    background-color: #e9338d;
    opacity: 0.9;
    padding: 0px 20px;
}

.home-tiles .ambassadors-tile h2 {
    padding: 0px 20px;
    line-height: 60px;
    background-color: #e9338d;
    opacity: 0.9;
}

.home-tiles h2 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
}

.home-tiles .ambassadors-tile {
    background: #73CEBF url('./images/home-icons/btn-ambassadors-csr.png') no-repeat center top;
    background-size: auto 100%;
}

.home-tiles .grant-program > div .roller .hidden-content .container .more {
    margin-bottom: 5px;
}

.home-tiles .grant-program:hover > div .roller h2 {
    margin-top: 0px;
}

.home-tiles .grant-program > div .roller .container {
    min-height: 140px;
    color: #fff;
}

.home-tiles .grant-program > div .roller {
    background: #73CEBF url("./images/home-icons/btn-grant-program-alpha.png") no-repeat scroll right bottom;
    padding: 10px;
    position: absolute;
    opacity: 1;
    background-color: #73CEBF;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    bottom: 0px;
}

.home-tiles .grant-program > div {
    min-height: 220px;
    position: relative;
    width: 220px;
}

.home-tiles .competition-tile .hidden-content .container {
    min-height: 140px;
}

.home-tiles .competition-tile .roller {
    background: #73CEBF url('./images/home-icons/btn-competition2.png') no-repeat right bottom;
}

.home-tiles .competition-tile .container p {
    color: #000;
}

.home-tiles .competition-tile h2 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
}

.home-tiles .competition-tile > div {
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.home-tiles .competition-tile {
    width: 220px;
    height: 220px;
    position: relative;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
    background: #73CEBF url('./images/home-icons/btn-competition.png') no-repeat right bottom;
}

.home-tiles .grant-program {
    background: #73CEBF url("./images/home-icons/btn-grant-program.png") no-repeat scroll right top;
    bottom: 0;
    min-height: 220px;
    position: absolute;
    z-index: 1;
}

.home-tiles .about-lob-tile {
    background-image: url('./images/home-icons/about-lob.png');
    color: #fff;
}

.home-tiles .about-lob-tile > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.web-kit .home-tiles .about-lob-tile div h2 {
    padding-top: 12px;
}

.home-tiles .about-lob-tile div h2 {
    line-height: 65px;
    font-size: 42px;
}

.home-tiles .about-lob-tile div .roller .hidden-content .container {
    padding-bottom: 10px;
}

.home-tiles .about-lob-tile div .roller {
    background-color: #5ea2f2;
    opacity: 0.9;
    position: absolute;
    padding: 0px 20px;
    height: auto;
    bottom: 0px;
    width: 460px;
}

.home-tiles .about-lob-tile .more {
    color: #5ea2f2;
}

.home-tiles .grant-program .more {
    color: #73CEBF;
}

.home-tiles .grant-program h2 {
    height: 60px;
}

.web-kit .home-tiles .roller .hidden-content .container .more {
    padding-top: 6px;
}

.cookie-accept {
    cursor: pointer;
}

.cookie-info {
    text-align: center;
    font-size: 0.9rem;
    background-color: #FFE23E;
    color: #000;
    padding: 0.6rem;

}

.home-tiles .roller .hidden-content .container .more {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
    margin: 16px 0px 15px;
    padding: 0px 3px;
    display: inline-block;
}

.home-tiles .ambassadors-tile .roller .hidden-content .container {
    min-height: 160px;
}

.home-tiles .roller .hidden-content .container {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-family: 'Lato', sans-serif;
}

.home-tiles .roller .hidden-content {
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
}

.blackwhite .more {
    color: black !important;
}

.blackwhite .roller, .blackwhite .ambassadors-tile .container, .blackwhite .ambassadors-tile h2 {
    background-color: #000 !important;
    background-image: none !important;
    opacity: 1 !important;
}

/* end home tiles */

.blackwhite .page-container .main-container .gallery-header {
    background-color: #000;
    color: #fff;
}

.page-container .main-container .gallery-header {
    text-transform: uppercase;
    font-size: 0.7rem;
    background-color: #FFFFFF;
    letter-spacing: 5px;
    line-height: 1rem;
    margin: -0.55rem auto 20px;
    text-align: center;
    width: 15rem;
}

/* partners slider */

.slider-top-margin {
    margin-top: 50px;
    border-top: 1px solid #000;
}

.partners-title {
    margin: -10px auto 0px auto;
    background-color: #fff;
    padding: 0px 40px;
    width: 200px;
    font-size: 14px;
    letter-spacing: 5px;
    text-align: center;
}

.blackwhite .partners-title {
    background-color: #000 !important;
}

.slide-auto {
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    transition: left 0.5s;
}

.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.partners-slider {
    width: 820px;
}

.gallery-slider-container {
    overflow: hidden;
    height: 385px;
    width: 560px;
    float: left;
}

.slide-element a, .slide-element span, .gallery-item > a, .gallery-item > span {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

.slide-element, .gallery-slider .gallery-item dd {
    display: none;
}

.slide-element, .gallery-slider .gallery-item {
    float: left;
    display: table;
    margin: 0px;
    text-align: center;
}

.blackwhite .parent-slider-gallery {
    border-top: 1px solid #fff;
}

.parent-slider-gallery {
    border-top: 1px solid #000;
}

.parent-slider-gallery .navi-left, .parent-slider-gallery .navi-right {
    margin-top: 138px;
}

.partners-slider-container .slide-element img {
    max-height: 100px;
    max-width: 150px;
}

.navi-left, .navi-right {
    background-color: red;
    height: 100px;
    width: 60px;
    margin-top: 20px;
    cursor: pointer;
}

.navi-left {
    float: left;
    background: transparent url('./images/home-icons/icon-arrow-left.png') no-repeat scroll left center;
}

.navi-right {
    float: left;
    background: transparent url('./images/home-icons/icon-arrow-right.png') no-repeat scroll right center;
}

ul {
    list-style-type: none;
}

.partners-slider-container {
    width: 820px;
    height: 100px;
    float: left;
    margin-top: 20px;
    overflow: hidden;
    background-color: #fff;
}

/* end partners slider */

/* calendar */

.calendar-container h2 {
    font-size: 2.18rem;
    margin-top: 0px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.calendar-container .calendar-block {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
    overflow: hidden;
}

.blackwhite .calendar-container .calendar-block h3 {
    color: #fff;
}

.calendar-container .calendar-block h3 {
    font-size: 1.3rem;
    margin-top: 0px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #000;
    text-transform: uppercase;
    float: left;
    padding-bottom: 0.1rem;
    border-bottom: 5px solid #000;
}

.blackwhite .calendar-container .calendar-block {
    background-color: transparent;
}

.calendar-container .calendar-block .events-list-container {
    margin-left: 14rem;
}

.blackwhite .calendar-container .active-block {
    border: 1px solid #fff;
}

.high-img-contrast {
    -webkit-filter: contrast(200%);
    -moz-filter: contrast(200%);
    filter: contrast(200%);
}

.calendar-container .active-block {
    background-color: #5ea2f2;
}

.calendar-container .calendar-block ul {
    display: table;
    width: 100%;
}

.calendar-container .calendar-block ul li {
    line-height: 1.18rem;
    font-size: 0.87rem;
    width: 100%;
    display: table-row;
}

.blackwhite .calendar-container .calendar-block ul li span {
    border-bottom: 1px solid #fff;
}

.calendar-container .calendar-block ul li span.mask {
    width: 20px;
    border-bottom: 0px none;
}

.blackwhite .calendar-container .calendar-block ul li span {
    color: #fff;
}

.blackwhite .calendar-container .calendar-block ul li span a {
    color: #fff;
}

.calendar-container .calendar-block ul li span a {
    color: #000;
}

.calendar-container .calendar-block ul li:first-child span {
    padding-top: 0px;
}

.calendar-container .calendar-block ul li span {
    padding-top: 10px;
    border-bottom: 1px solid #000;
    display: table-cell;
}

.calendar-container .calendar-block ul li span:first-child {
    font-weight: bold;
    margin-right: 20px;
    width: 3.2rem;

}

/* partners page */

.partners-container h2 {
    color: #000;
    border-bottom: 5px solid #000;
    margin-bottom: 20px;
}

.partners-container ul li img {
    vertical-align: middle;
}

.partners-container ul {
    overflow: hidden;
    margin-bottom: 10px;
}

.partners-container ul li {
    width: 200px;
    height: 100px;
    display: table;
    margin-bottom: 20px;
    float: left;
}

.partners-container ul li span, .partners-container ul li a {
    display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

/* end partners page */

/* private materials */

.private-materials {
    margin-top: 20px;
}

.private-materials .attachment a img {
    vertical-align: middle;
}

.private-materials .attachment p {
    position: absolute;
    font-size: 1rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 0px;
    bottom: 20px;
    left: 120px;
}

.private-materials .attachment {
    margin-bottom: 10px;
    min-height: 110px;
    position: relative;
}

/* end private materials */

/* ambassadors profiles */

.long-description .hidden-content {
    padding-bottom: 10px;
}

#year-activator {
    padding: 5px 10px;
    display: block;
    cursor: pointer;
}

.select-activator-year {
    background-color: #E8338C;
    color: #FFFFFF;
    margin: 10px 0px;
    position: relative;
}

.select-activator .list {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 0px;
    z-index: 1;
    overflow: hidden;
}

.elements-container {
    background-color: #E8338C;
    color: #FFFFFF;
}

.elements-container span {
    cursor: pointer;
    display: block;
    width: 100%;
    padding-left: 10px;
    line-height: 30px;
}

.blackwhite .page-container .pagination a {
    color: #fff;
}

.page-container .pagination a {
    color: #000;
}

.page-container .pagination .active a {
    color: #E9338D;
}

.page-container .pagination > *, .page-container .pagination-container span {
    display: inline-block;
    padding: 0px 5px;
    font-size: 0.9rem;
}

.page-container .pagination-container span {

    margin-top: 50px;
}

.page-container .pagination-container {
    text-align: right;
}

.page-container .pagination .next a {
    content: '>';
}

.page-container .pagination {
    margin-top: 50px;
    display: inline-block;
}

.page-container .main-container .ambassadors-search-container .label {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0px;
}

.search-ambassadors-form {
    position: relative;
}

.ambassadors-search-container .map-container {
    width: 50%;
    display: table-cell;
}

.ambassadors-search-container .search input {
    width: 100%;
    background-color: #E8338C;
    color: #FFFFFF;
    border: 0px none;
    font-size: 25px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px 10px;
    height: 40px;
    background-image: url("./images/icon-search.png");
    background-position: 320px center;
    background-repeat: no-repeat;
}

.ambassadors-search-container .search {
    height: 100%;
    width: 50%;
    display: table-cell;
    position: relative;
}

.blackwhite .search-ambassadors-form input[type="submit"] {
    background-color: #fff;
    color: #000;
}

.search-ambassadors-form input[type="submit"] {
    background-color: #000000;
    bottom: 20px;
    border: 0px none;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    position: absolute;
    right: 0;
    height: 90px;
    width: 6rem;
}

.search-ambassadors-form input[name="reset"] {
    right: 7rem;
}

.ambassadors-search-container {
    width: 100%;
    position: relative;
    display: table;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

/* end ambassadors profiles */

/* map */

#map #masks {
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.main-container .ambassadors-search-container .map-container .province {
    text-transform: uppercase;
    margin-top: 0px;
}

#map {
    background-image: url('./images/mapa/mapa.png');
    background-size: 100% 100%;
    width: 300px;
    height: 281px;
    position: relative;
}

.mazowieckie {
    background-image: url("./images/mapa/mazowieckie.png") !important;
}

.lubelskie {
    background-image: url("./images/mapa/lubelskie.png") !important;
}

.lubuskie {
    background-image: url("./images/mapa/lubuskie.png") !important;
}

.lodzkie {
    background-image: url("./images/mapa/lodzkie.png") !important;
}

.swietokrzyskie {
    background-image: url("./images/mapa/swietokrzyskie.png") !important;
}

.kujawsko-pomorskie {
    background-image: url("./images/mapa/kujawsko-pomorskie.png") !important;
}

.warminsko-mazurskie {
    background-image: url("./images/mapa/warminsko-mazurskie.png") !important;
}

.wielkopolskie {
    background-image: url("./images/mapa/wielkopolskie.png") !important;
}

.malopolskie {
    background-image: url("./images/mapa/malopolskie.png") !important;
}

.slaskie {
    background-image: url("./images/mapa/slaskie.png") !important;
}

.pomorskie {
    background-image: url("./images/mapa/pomorskie.png") !important;
}

.dolnoslaskie {
    background-image: url("./images/mapa/dolnoslaskie.png") !important;
}

.opolskie {
    background-image: url("./images/mapa/opolskie.png") !important;
}

.podkarpackie {
    background-image: url("./images/mapa/podkarpackie.png") !important;
}

.podlaskie {
    background-image: url("./images/mapa/podlaskie.png") !important;
}

.zachodnio-pomorskie {
    background-image: url("./images/mapa/zachodnio-pomorskie.png") !important;
}

/* end map */

/* ambassador list */
.ambassadors-list {
    position: relative;
    overflow: hidden;
}

.ambassadors-list .photo {
    display: block;
    width: 140px;
    height: 140px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}

.ambassadors-list .photo img {
    border: 1px solid #000;
    width: 140px;
    height: 140px;
}

.ambassadors-list .ambassador-tile .status-ambasador {
    color: #e9338d;
}

.ambassadors-list .ambassador-tile .status-alumn {
    color: #73cebf;
}

.main-container .ambassadors-list .arrow-activator-rolldown .arrow-activator {
    background-image: url('./images/icon-arrow-up.png');
    background-position: -1px center;
}

.ambassadors-list .ambassador-tile div .arrow-activator {
    background-image: url('./images/icon-arrow-down.png');
    background-position: center center;
    height: 20px;
    width: 21px;
    display: block;
    background-color: #E9338D;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ambassadors-list .ambassador-tile > div {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.ambassadors-list .ambassador-tile {
    min-height: 140px;
    padding-top: 40px;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 3px solid #E9338D;
    -webkit-transition: height 0.5s, top 0.5s;
    -moz-transition: height 0.5s, top 0.5s;
    transition: height 0.5s, top 0.5s;
    /*
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;*/
    width: 320px;
}

.page-container .ambassadors-list .ambassador-tile .long-description {
    height: 0px;
    width: 320px;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;

}

.page-container .ambassadors-list .ambassador-tile .short-description p,
.page-container .ambassadors-list .ambassador-tile .long-description .hidden-content p {
    margin: 0.5rem 0px;
    font-family: 'Lato', sans-serif;
    line-height: 0.8rem;
    font-size: 0.7rem;
}

.blackwhite .page-container .ambassadors-list .ambassador-tile .long-description a {
    color: #fff;
}

.page-container .ambassadors-list .ambassador-tile .long-description a {
    color: #000;
    text-decoration: underline;
}

.page-container .main-container .ambassadors-list .ambassador-tile .short-description {
    display: block;
    float: left;
    padding-bottom: 15px;
    width: 160px;
}

.page-container .ambassadors-list .ambassador-tile p.status {
    margin-top: 0px;
    margin-bottom: 10px;
}

.page-container .ambassadors-list .ambassador-tile p.status, .ambassadors-list .ambassador-tile h3 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1rem;
    word-wrap: break-word;
}

.page-container .ambassadors-list .ambassador-tile p.status {
    font-size: 0.9rem;
}

/* end ambassador list */

/* search paga */

.blackwhite .page-container .content .main-container .search-title {
    background-color: #000;
}

.page-container .content .main-container .search-title {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 10px;
    background-color: #C5DC4A;
    color: #fff;
    display: inline;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    padding: 0 3px;
    text-transform: uppercase;
}

.search-results-page .result .text strong {
    color: #C5DC4A;
}

.search-results-page .result .text {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.search-results-page .result h1 {
    border-bottom: 4px solid #C5DC4A;
    display: block;
}

.search-results-page .result h1.name a span.select {
    color: #C5DC4A;
}

.blackwhite .search-results-page .result h1.name a {
    color: #fff;
}

.search-results-page .result h1.name a {
    color: #000;
    font-size: 1rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 1.1rem;
}

.search-results-page .result {
    margin-top: 20px;
}

.search-results-page {
    margin-left: 240px;
}

.page-container .main-container .search-word:before {
    background-image: url('./images/search-result-arrow.png');
    content: "";
    height: 15px;
    left: -25px;
    position: absolute;
    top: 2px;
    width: 12px;
}

.blackwhite .page-container .main-container .search-word {
    border-color: #fff;
}

.page-container .main-container .search-word {
    font-size: 1.2rem;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    margin-left: 240px;
    margin-top: 30px;
    border-bottom: 4px solid #000000;
}

/* end search paga */